<div class="modal-content animated bounceIn">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Agregar Vehiculo</h4>
        <small class="font-bold">En este formulario se pueden agregar vehiculos de vehiculos.</small>
    </div>
    <div class="modal-body">
        <form id="formVehiculo" action="/vehiculos/vehiculo/add" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    {% csrf_token %}
                    <!-- Formulario -->
                    {{ form }}
                </div>
                <div class="col-lg-12 pull-right-container">
                    <div class="pull-right">
                        <input type="submit" value="Agregar" class="btn-success btn-sm" id="submitVehiculo" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>