<div class="modal-content animated bounceIn">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Detalles de la Marca</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <table id="marcaDetail" class="table table-striped table-bordered" style="width:100%">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ marca.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ marca.descripcion }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>