<div class="modal-content animated bounceIn">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Detalles de la Vehiculo</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <table id="vehiculoDetail" class="table table-striped table-bordered" style="width:100%">
                    <tbody>
                        <tr>
                            <th colspan="2">{{ vehiculo.imagen }}</th>
                        </tr>
                        <tr>
                            <th>Marca</th>
                            <td>{{ vehiculo.marca }}</td>
                        </tr>
                        <tr>
                            <th>Tipo</th>
                            <td>{{ vehiculo.tipo }}</td>
                        </tr>
                        <tr>
                            <th>Propietario</th>
                            <td>{{ vehiculo.propietario.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Placa</th>
                            <td>{{ vehiculo.placa }}</td>
                        </tr>
                        <tr>
                            <th>Observaciones</th>
                            <td>{{ vehiculo.observaciones }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>