<div class="modal-content animated bounceIn">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Detalles de la Propietario</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <table id="propietarioDetail" class="table table-striped table-bordered" style="width:100%">
                    <tbody>
                        <tr>
                            <th>Nombre</th>
                            <td>{{ propietario.nombre }}</td>
                        </tr>
                        <tr>
                            <th>Documento</th>
                            <td>{{ propietario.tipo_identificacion.tipo_corto }} - {{ propietario.identificacion }}</td>
                        </tr>
                        <tr>
                            <th>Soporte</th>
                            {% if propietario.soporte_identificacion != '' %}
                                <td>/media/{{ propietario.soporte_identificacion }}</td>
                            {% else %}
                                <td>NO TIENE SOPORTE DE IDENTIFICACION</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Descripción</th>
                            <td>{{ propietario.observaciones }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>