<table id="vehiculoList" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Marca</th>
            <th>Tipo</th>
            <th>Propietario</th>
            <th>Placa</th>
            <th>Observaciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for vehiculo in vehiculos %}
            <tr>
                <td>{{ vehiculo.imagen }}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.tipo }}</td>
                <td>{{ vehiculo.propietario.nombre }}</td>
                <td>{{ vehiculo.placa }}</td>
                <td>{{ vehiculo.observaciones }}</td>
                <th>
                    <a href="/vehiculos/vehiculo/detail/{{ vehiculo.id }}/" class="btn btn-info btn-xs btnDetail" data-id="{{ vehiculo.id }}"><i class="fa fa-eye"></i> Ver </a>&nbsp;
                    <a href="/vehiculos/vehiculo/update/{{ vehiculo.id }}/" class="btn btn-info btn-xs btnUpdate" data-id="{{ vehiculo.id }}"><i class="fa fa-edit"></i> Actualizar </a>
                </th>
            </tr>
        {% endfor %}
    </tbody>
</table>