<table id="propietarioList" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Identificación</th>
            <th>Observaciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for propietario in propietarios %}
            <tr>
                <td>{{ propietario.nombre }}</td>
                <td>{{ propietario.identificacion }}</td>
                <td>{{ propietario.observaciones }}</td>
                <th>
                    <a href="/vehiculos/propietario/detail/{{ propietario.identificacion }}/" class="btn btn-info btn-xs btnDetail" data-id="{{ propietario.identificacion }}"><i class="fa fa-eye"></i> Ver </a>&nbsp;
                    <a href="/vehiculos/propietario/update/{{ propietario.identificacion }}/" class="btn btn-info btn-xs btnUpdate" data-id="{{ propietario.identificacion }}"><i class="fa fa-edit"></i> Actualizar </a>
                </th>
            </tr>
        {% endfor %}
    </tbody>
</table>