<table id="marcaList" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for marca in marcas %}
            <tr>
                <td>{{ marca.nombre }}</td>
                <td>{{ marca.descripcion }}</td>
                <th>
                    <a href="/vehiculos/marca/detail/{{ marca.id }}/" class="btn btn-info btn-xs btnDetail" data-id="{{ marca.id }}"><i class="fa fa-eye"></i> Ver </a>&nbsp;
                    <a href="/vehiculos/marca/update/{{ marca.id }}/" class="btn btn-info btn-xs btnUpdate" data-id="{{ marca.id }}"><i class="fa fa-edit"></i> Actualizar </a>
                </th>
            </tr>
        {% endfor %}
    </tbody>
</table>