{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block stylesheets  %}
    {% include 'adminlte/lib/_styles.html' %}
    <!-- DataTables -->
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
    <!-- toastr -->
    <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {% include 'adminlte/lib/_scripts.html' %}
    <!-- DataTables -->
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <!-- toastr -->
    <script src="{% static 'toastr/toastr.min.js' %}"></script>

    <script src="{% static 'vehiculos/vehiculos.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado de Vehiculos</h3>
                </div>
                <div class="box-body" id="vehiculo-table-container">

                </div>
                <div class="box-footer">
                    <div class="pull-right-container">
                        <a href="add" class="pull-right btn-success btn-sm" id="btnAddVehiculo"><i class="fa fa-plus"></i> Agregar</a>
                        <a href="/vehiculos/vehiculo/csv/" class="pull-right btn-info btn-sm" ><i class="fa fa-download"></i> Exportar CSV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="addVehiculoModal" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">

        </div>
    </div>
{% endblock %}