{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block stylesheets  %}
    {% include 'adminlte/lib/_styles.html' %}
    <!-- DataTables -->
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
    <!-- toastr -->
    <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
    <!-- select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    {% include 'adminlte/lib/_scripts.html' %}
    <!-- DataTables -->
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <!-- toastr -->
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <!-- Moment -->
    <script src="{% static 'moment.js' %}"></script>
    <!-- select2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'vehiculos/report_vehiculo.js' %}"></script>


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado de Vehicuos por Marca</h3>
                </div>
                <div class="box-body" id="vehiculo-table-container">
                    <div class="row">
                        <div class="col-lg-12">
                            <form>
                                {{ form }}
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="vehiculoReportTable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Propietario</th>
                                        <th>Placa</th>
                                        <th>Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody id="vehiculoReportData">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="reportVehiculoModal" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">

        </div>
    </div>
{% endblock %}