{% extends 'layout/base.html' %}
{% load staticfiles %}

{% block stylesheets  %}
    {% include 'adminlte/lib/_styles.html' %}
    <!-- DataTables -->
    <link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet">
    <!-- toastr -->
    <link href="{% static 'toastr/toastr.min.css' %}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {% include 'adminlte/lib/_scripts.html' %}
    <!-- DataTables -->
    <script src="{% static 'DataTables/datatables.min.js' %}"></script>
    <!-- toastr -->
    <script src="{% static 'toastr/toastr.min.js' %}"></script>
    <!-- Moment -->
    <script src="{% static 'moment.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="{% static 'vehiculos/report_marca.js' %}"></script>


{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Listado de Marcas</h3>
                </div>
                <div class="box-body" id="marca-table-container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="marcaReportContainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                        <div class="col-lg-6">
                            <table id="marcaReportTable" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Marca</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody id="marcaReportData">

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="reportMarcaModal" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">

        </div>
    </div>
{% endblock %}