<div class="modal-content animated bounceIn">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Editar Marca</h4>
        <small class="font-bold">En este formulario se pueden editar marcas de vehiculos.</small>
    </div>
    <div class="modal-body">
        <form id="formMarca" action="/vehiculos/marca/add" method="post">
            <div class="row">
                <div class="col-lg-12">
                    {% csrf_token %}
                    <input type="hidden" id="id" name="id" value="{{ pk }}">
                    <!-- Formulario -->
                    {{ form }}
                </div>
                <div class="col-lg-12 pull-right-container">
                    <div class="pull-right">
                        <input type="submit" value="Actualizar" class="btn-success btn-sm" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>