{% extends 'adminlte/base.html' %}

{% load staticfiles %}

{% block nav_header %}
    {% load adminlte_helpers i18n %}
    <header class="main-header">
        <!-- Logo -->
        {% block logo %}
        <a href="{% block logo_href %}/{% endblock %}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">{% block logo_text_small %}<b>V</b>{% endblock %}</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">{% block logo_text %}<b>Vehiculos</b>{% endblock %}</span>
        </a>
        {% endblock %}

        <!-- Header Navbar: style can be found in header.less -->
        {% block nav_bar %}
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            {% block nav_bar_center %}{% endblock %}
        </nav>
        {% endblock %}
    </header>
{% endblock %}

{% block title %}Vehiculos{% endblock %}

{% block nav_sidebar %}
    {% load adminlte_helpers %}
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {% block nav_links_ul %}
            <ul class="sidebar-menu">
                {% block nav_links_outer %}
                <li class="header">{% block nav_heading %}MENU PRINCIPAL{% endblock %}</li>

                {% block nav_links %}
                    <li>
                        <a href="/vehiculos/marca/">
                            <i class="fa fa-tag"></i> <span>Marcas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vehiculos/propietario/">
                            <i class="fa fa-user"></i> <span>Propietarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vehiculos/vehiculo/">
                            <i class="fa fa-car"></i> <span>Vehiculos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vehiculos/marca/report">
                            <i class="fa fa-pie-chart"></i> <span>Reporte Marcas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vehiculos/">
                            <i class="fa fa-table"></i> <span>Reporte Vehiculos</span>
                        </a>
                    </li>
                {% endblock nav_links %}
                {% endblock nav_links_outer %}
            </ul>
            {% endblock nav_links_ul %}
        </section>
        <!-- /.sidebar -->
    </aside>
{% endblock %}